* {
    margin: 0;
    padding: 0;
}

.sidebar {
    height: 100vh;
    width: 100px;
    background-color: #019b9b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 0px 40px 65px 0px;
}

.icon {
    height: 17vh;
    width: 75px;
    transition: 300ms;
}


.active {
    color: #019b9b;
    background-color: white;
}


.icon-link {
    text-decoration: none;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    border-radius: 38px;
}

.noactive {
    color: white;
}

.active {
    color: #019b9b;
    background-color: white;
}

.icon-link:hover {
    color: #019b9b;
    background-color: white;
}